@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --color-form: #0b97ef;
  --color-submit: #00e6b5;
  --color-dashbord: #daf2ff;
  --color-dashboardLink: #6dfacd;
  --color-category: #00d1df;
  --color-categoryId: #00b7f6;
  --color-product: #7d72c3;
  --color-productId: #cd74bd;
  --color-update: #f9f871;
  --color-details: #99f389;
  --color-delete: #fc5859;
  --color-text: #8e96cb;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
